*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-input{
    width: 83vw !important;
}


.liststyle{
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;


}
.hrstyle{
    position: absolute;
    left: 65px;
    width: 83vw;
    
}

.loader-custom{
    position: absolute;
    left: 70px;
    display: none;
}

.imagecompanystyle{
    height: 20px;
    width: 20px;
}
.imagesize{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.changestyle{
    color: green;
   
    
}

.marquee{
    height: 25px;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
   
    

}

.mymarquee{ 
    display: block;
    width: 200%;
    height: 30px;
position: absolute;
overflow: hidden;
animation: marquee 45s linear infinite; 
}


.pricecolor{
    color: green;
    margin-right: 10px;
}

.div1{
    height: 10vh;
    width: 80vw;
    margin-left: 40px;
    margin-top: 40px;
}
.div2{
    height: 30vh;
    width: 80vw;
    margin-left: 40px;
}
.div3{
    height: 50vh;
    width: 80vw;
    margin-left: 40px;
}

.namestyle{
  margin-left: 40px;
}
.loader-custom-company{
  position: absolute;
  left: 70px;
  top: 75px;
}
#company-image{
  display: inline;
  margin-right: 60px;
}
#company-description{
  margin-top: 40px;
}
#company-price{
    margin-left: 150px;
}
.div1{
    height: 10vh;
    width: 80vw;
    margin-left: 40px;
    margin-top: 40px;
}
.div2{
    height: 30vh;
    width: 80vw;
    margin-left: 40px;
}
.div3{
    height: 50vh;
    width: 80vw;
    margin-left: 40px;
}

.namestyle{
  margin-left: 40px;
}
.loader-custom-company{
  position: absolute;
  left: 70px;
  top: 75px;
}
#company-image{
  display: inline;
  margin-right: 60px;
}
#company-description{
  margin-top: 40px;
}
#myChart{
    margin-top: 200px;
}
@keyframes marquee{
    0% { left: 0;}
    100%{left: -100%;}
}
